<nav class = "navbar"\>
	<div class = "container">
		<a class = "navbar-brand" onclick="location.reload()" >Admin</a>
		<a class = "navbar-brand navbar-right" href="insert" >Insert</a>
		<a class = "navbar-brand navbar-right" href="delete" >Delete</a>
		<a class = "navbar-brand navbar-right" href="update" >Update</a>
	</div>
</nav>
