<div class = "container">
	<div class = "row">
		<div class = "col-md-4 col-md-offset-4">

		<div id = "insert_main">
			<div class="page-header">
				<h1>정확하게 입력하세요! <br><center><small>정보를 정확히 입력해주세요</small></center></h1>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Name
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_name" class="form-control" placeholder="장학금 이름을 정확히 입력하세요">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Company
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_company" class="form-control" placeholder="회사 이름을 정확히 입력하세요">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Amount
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_amount" class="form-control" placeholder="단위 만원">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Number
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_number" class="form-control" placeholder="뽑는 인원">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					ApplyStart
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_applystart" class="form-control" placeholder="장학금 지원 시작일">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					ApplyEnd
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_applyend" class="form-control" placeholder="장학금 지원 마감일">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Homepage
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_homepage" class="form-control" placeholder="장학금 지원 사이트">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					지원 가능한 대학교 선택
				</div>
				
				<div class="panel-body">
					<input type = "radio" name = "admin_uni" value = 2 /> <label>  4년제 대학교  </label>
					<input type = "radio" name = "admin_uni" value = 4 /> <label> 2 ~ 3년제 대학교  </label>
					<input type = "radio" name = "admin_uni" value = 1 /> <label>  대학원  </label>
				</div>  
			</div>
		
			<div class="panel panel-default">
				<div class="panel-heading">
					소득 분위
				</div>
				
				<div class="panel-body">
					<input type = "radio" name = "admin_income" value = 1 /> <label> 기초 수급자 </label>
					<input type = "radio" name = "admin_income" value = 2 /> <label> 차상위 </label>
					<input type = "radio" name = "admin_income" value = 4 /> <label> 해당 없음 </label>
				</div>  
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					지원 가능한 과
				</div>
				
				<div class="panel-body">
					<select class="form-control" name = "admin_major"  placeholder="고르세요">
						<option value = "공학계열">공학계열</option>
						<option value = "법학계열">법학계열</option>
						<option value = "사범계열">사범계열</option>
						<option value = "사회과학계열">사회과학계열</option>
						<option value = "예체능계열">예체능계열</option>
						<option value = "약학계열">약학계열</option>
						<option value = "의학계열">의학계열</option>
						<option value = "인문학계열">인문학계열</option>
						<option value = "자연과학계열">자연과학계열</option>
						<option value = "기타">기타</option>
					</select>

					
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					사는 지역
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_region" class="form-control" placeholder="시단위로 입력하시오">				
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					지원 가능한 최소 평균 학점
				</div>
				
				<div class="panel-body">
					<input type = "text" id ="admin_gpa" class="form-control" placeholder="4.5점 만점">
				
				</div>
			</div>


			<center><button id = "insert_result_btn"  class = "btn btn-warning btn-lg">넣기</button></center>
			</div>
		</div>
	</div>
</div>

