<div id = "insert_main">
	<div class="page-header">
		<h1>정확하게 입력하세요!  <small>정보를 정확히 입력해주세요</small></h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Name
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Company
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Amount
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Number
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			ApplyStart
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			ApplyEnd
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Homepage
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			GPA
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		</div>
	</div>

	<div class="panel panel-default">
	<div class="panel panel-default">
	<div class="panel panel-default">
	<div class="panel panel-default">
	<div class="panel panel-default">
	<div class="panel panel-default">
	<div class="panel panel-default">
	<div class="panel panel-default">
		<div class="panel-heading">
			나의 대학교 종류는?
		</div>
		
		<div class="panel-body">
			<input type = "radio" name = "university" value = 0 /> <label>  4년제 대학교  </label>
			<input type = "radio" name = "university" value = 1 /> <label> 2 ~ 3년제 대학교  </label>
			<input type = "radio" name = "university" value = 2 /> <label>  대학원  </label>
		</div>  
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			나의 전공은?
		</div>
		
		<div class="panel-body">
			<select class="form-control" name = "major"  placeholder="고르세요">
			  <option value = 0>공학계열</option>
			  <option value = 1>법학계열</option>
			  <option value = 2>사범계열</option>
			  <option value = 3>사회과학계열</option>
			  <option value = 4>예체능계열</option>
			  <option value = 5>약학계열</option>
			  <option value = 6>의학계열</option>
			  <option value = 7>인문학계열</option>
			  <option value = 8>자연과학계열</option>
			  <option value = 9>기타</option>
			</select>

			
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			평균 학점
		</div>
		
		<div class="panel-body">
			<input type = "text" id ="gpa" class="form-control" placeholder="4.5점 만점">
		
		</div>
	</div>
	<button id = "insert_result_btn"  class = "btn btn-success btn-lg">검색</button>
</div>



