<nav class = "navbar navbar-inverse"\>
 	 <div class="container">
		 <a class = "navbar-brand" onclick="location.reload()" >Find ScholarShip!</a>
		 <a class = "navbar-brand" href="admin/main" >Admin</a>
	</div>
</nav>

