<%= render "menu" %>

<div class = "container">
	<div class = "row">
		<div class = "col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div id = "ad_main_view">
				<h1><center>welcome to administrator page!</center></h1>
				<img src = "assets/fruit.png" class = "center-block" >
			</div>
			<div id = "insert_view" style = "display:none">
				<%= render "insert_view"%>
			</div>
			<div id = "delete_view" style = "display:none">
				<%= render "delete_view"%>
			</div>

			
			<div id = "update_view" style = "display:none">
				<%= render "update_view"%>
			</div>
		</div>
		
		<div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<button id = "insert_btn" class = "btn btn-big">데이터 넣기</button><br>
			<button id = "delete_btn" class = "btn btn-big2">데이터 지우기</button><br>
			<button id = "update_btn" class = "btn btn-big3">데이터 업데이트</button>
		</div>
	</div>
</div>
