<h1>Welcome to scholarship search program!</h1>

<h2>Do you wanna see all of scholarship?</h2>
<%= link_to "Click me","home/list_scholarship", class: 'btn'%>

<h2>Do you wanna search your fit scholarship?</h2>
<%= link_to "Let's go", "home/search_by_condition", class: 'btn' %>

