<h1>Find your fit Scholarship!</h1>

<label for="Scholarship_name">Scholarship_name</label><br>
<input id="Scholarship_name"><br>

<label for="Location">Location</label><br>
<input id="Location"><br>

<label for="School">Your School name</label><br>
<input id="School"><br>

<label for="income">Your income</label><br>
<input id="income"><br>

<label for="grade_average">Grade average</label><br>
<input id="grade_average"><br><br>

<button id="search">Search!</button>
