// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-top-100px{
	margin-top: 150px;

}

.btn-big{
	
	background-color: #5cb85c;
	width: 100px;
	height: 100px;
	margin-top: 50px;


	text-shadow: 0px 0px 10px #ffffff;
	color: #ffffff;
	font-size: 3em;
}


.btn-big2{
	
	background-color: #5bc0de;
	width: 100px;
	height: 100px;
	margin-top: 50px;


	text-shadow: 0px 0px 10px #ffffff;
	color: #ffffff;
	font-size: 3em;
}

.btn-big3{
	
	background-color: #f0ad4e;
	width: 100px;
	height: 100px;
	margin-top: 50px;


	text-shadow: 0px 0px 10px #ffffff;
	color: #ffffff;
	font-size: 3em;
}

